.flag {
	margin: 30px;
	width: 600px;
	height: 400px;
	border: 1px solid black;
}

/* Flag of Belgium */
.black {
	width: 200px;
	height: 400px;
	background: black;
	position: absolute;

}

.yellow {
	width: 200px;
	height: 400px;
	background: yellow;
	position: absolute;
	left: 239px;
	top: 31px;

}

.red {
	width: 200px;
	height: 400px;
	background: red;
	position: absolute;
	left: 439px;
	top: 31px;

}

/* Flag of Japan */
.circle {
	left: 239 px;
	top: 140 px;
	width: 200px;
	height: 200px;
	background: indianred;
	border-radius: 100%;
}



/* Flag of Trinidad and Tobago */
